.article {
  position: absolute;
}

.heading {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 900;
  color: #fff;
}
.author {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 900;
  color: #fff;
}

.hw {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
